body {
    font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #EE881B;
    color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

header p {
    font-weight: bold; 
    font-size: 18px;
    text-decoration: none;
}

header p:hover {
    text-decoration: underline;
}

header p a, .lista_artisti a, footer a {
    text-decoration: none;
    color: white
}

header nav ul, footer nav ul {
    font-size: 15px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}

header nav ul a, footer nav ul a {
    text-decoration: none;
    color: white;
}

header nav ul a:hover, .lista_artisti a:hover, footer nav ul a:hover, footer p a:hover {
    text-decoration: underline;
}

.page-mark {
    font-weight: bolder;
    text-decoration: underline;
}

.info {
    background-color: #EE881B;
    width: 600px;
    height: 130px;
}

.hero img {
    width: 100%;
    height: 680px;
    object-fit: cover;
}

.hero {
    position: relative;
}

.date {
    background-color: #EE881B;
    font-size: 20px;
    line-height: 1.4;
    width: 600px;
    height: 120px;
    border-radius: 0px 150px 0px 0px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-end;
    padding-left: 150px;
}

.inaugurazione, .info_artisti, .container_1, .container_2, .titolo_artisti_2 {
    padding: 100px 150px 50px 150px;
}

.inaugurazione h1, .info_artisti h1, .container_1 h1, .container_2 h1, .titolo_artisti_2 h1, .opere h1, .bio_artista h1 {
    font-size: 50px;
    margin-bottom: 70px;
}

.sub_headline {
    font-size: 60px;
    padding: 80px 0 0 150px;
}

.inaugurazione p, .container_1 p, .container_2 p, .bio_artista p {
    max-width: 830px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.bio_artista {
    padding: 130px 150px 50px 150px;
}

.lista_artisti {
    font-size: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 50px;
}

footer {
    margin: auto;
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

.contenitore {
	max-width: 100%;
	margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.artista {
    position: relative;
}

.artista img {
    height: 650px;
    width: 100%;
    object-fit: cover;
}

.artista a:before { 
    content: "";
    background-color: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.artista a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    display: none;
}

.artista a:hover span, .artista a:hover:before {
    display: block;
    margin: auto;
    text-align: center;
}

  .maps iframe {
    width: 100%;
    height: 700px;
    border: none;
    padding-top: 40px;
  }

  .opere {
    padding: 130px 150px 0 150px;
  }

  .grid_opere {
    column-count: 3;
    column-gap: 20px;
  }

  .grid_opere img {
    margin-bottom: 16px;
    max-width: 100%;
    border: solid 10px white;
    border-radius: 40px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-trigger {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 3px black;
    border-radius: 15px;
    filter: brightness(100%);
    transition: 0.3s;
}

.modal:target {
    display: block;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }

.modal img {
    max-width: 90%;
    max-height: 90%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

  @media (max-width: 900px) {
    header {
        padding: 25px 60px;
    }

    footer {
        padding: 25px 60px;
        height: auto;
    }

    footer p {
        width: 200px;
    }

    header nav ul, footer nav ul {
        gap: 20px;
    }

    .date {
        font-size: 18px;
        width: 400px;
        height: 100px;
        padding-left: 15px;
    }

    .inaugurazione, .info_artisti, .container_1, .container_2, .titolo_artisti_2, .bio_artista {
        padding: 100px 15px 50px 15px;
    }

    .inaugurazione h1, .info_artisti h1, .container_1 h1, .container_2 h1, .titolo_artisti_2 h1, .opere h1, .bio_artista h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .info_artisti, .titolo_artisti_2, .container_2  {
        padding-top: 10px;
        padding-left: 15px;
    }

    .inaugurazione p, .container_1 p, .container_2 p, .info_artisti p, .bio_artista p {
        font-size: 18px;
    }

    .sub_headline {
        font-size: 40px;
        padding: 80px 15px 0 15px;
    }

    .lista_artisti {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .lista_artisti p {
        font-size: 25px;
    }

    .titolo_artisti_2 h1 {
        margin-bottom: 0;
    }

    .opere {
        padding: 10px 15px 50px 15px;
    }

    .grid_opere {
        column-count: 2;
        column-gap: 10px;
      }

    .grid_opere img {
        margin-bottom: 16px;
        max-width: 100%;
        border: solid 5px white;
        border-radius: 20px;
    }
}

@media (max-width:700px) {
    .grid {
        gap: 0;
    }

    .artista a {
        text-decoration: none;
        text-align: center;
    }

    .artista a:hover:before {
        display: block;

    }

    .artista a span {
        position: unset;
        transform: translate(0, 0);
        font-weight: bold;
        font-size: 20px;
        color: white;
        display: block;
        background-color: #EE881B;
        padding: 10px 13px;
    }

    .artista a:hover span {
        text-decoration: underline;
    }
}

@media (max-width: 570px) {
    header, footer {
        margin: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        padding: 25px;
    }

    header p {
        font-weight: bold; 
        font-size: 25px;
        text-decoration: none;
    }

    header nav ul {
        font-size: 15px;
    }

    footer p {
        width: auto;
    }

    .date {
        font-size: 12px;
        width: 280px;
        height: 75px;
        padding-left: 15px;
    }
}